.App {
  height: 100vh;
  background-color: #bad;
}
.container{
  padding: 43px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.entity{
  border: 5px solid black;
  width: 200px;
  height: 100px;
  text-align: center;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
}
.navbar h1 {
  color: #1b26568e;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

a{
  text-decoration: none;
}
.Users-Details{text-align: center;
  
}